* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    background-size: cover;
    background-position: center;
    background: darkgrey;
    height: 80px;
    position: relative;
}

.nav ul {
    margin: 0;
    padding: 0;
    line-height: 80px;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    color: purple;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    transition: .4s;
}

.nav a:hover {
    color: saddlebrown;
    background-color: rgba(255, 255, 255, .5);
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-img {
    width: 250px;
    height: 320px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 10px;
}
.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.cart-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 1.5em;
    display: none;
}

.my-cart {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    float: right;
    margin-right: 10px;
}

#open-myCart {
    cursor: pointer;
    width: 100px;
    color: salmon;
    font-weight: bold;
    border:none;
    border-radius: 4px;
    text-align: center;
    transition: .4s;
}

#open-myCart:hover {
    color: slategrey;
    background-color: salmon;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-top: 10px;
}

.insert-cart {
    display: flex;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 25px;
}

.remove-btn {
    color: red;
    background-color: bisque;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    transition: .5s;
}

.remove-btn:hover {
    color: #fff;
    background-color: coral;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #000;
    margin-right: 10px;
}

.cart-total-price {
    color: #333;
    font-size: 1.3em;
}

.btn-purchase {
    cursor: pointer;
    background-color: darkcyan;
    color: #eee;
    font-weight: normal;
    border: 1px solid #000;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    font-size: 1.5em;
    transition: .3s ease-in-out;
    margin: 0 auto;
}

.btn-purchase:hover {
    color: darkgreen;
    background-color: #eee;
}

#close-myCart {
    width: 25px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    float: right;
}
