* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    background: lightgray;
    position: relative;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
    font-size: 22px;

}

header li {
    margin: 0 18px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}

header li > a {
    text-decoration: none;
    color: sienna;
}

#my-cart {
    color: palevioletred;
}

/* .hidden {
    display: none;
} */

#cart-container {
    width: 350px;
    height: 440px;
    border: 1px solid black;
    margin-top: 50px;
    /* find more good way to move naturally */
    transform: translateX(700px);
}

.cart-header {
    display: flex;
    margin: 10px 0;
    margin-left: 10px;
    padding: 10px;
    position: relative;
}

.cart-header .cart-total {
    margin-right: 10px;
    font-size: 20px;
}

.cart-header #close-my-cart {
    position: absolute;
    right: 10px;
    top: 5%;
    font-size: 19px;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.cart-products {
    width: 100%;
    overflow: hidden;

}

.cart-products ul {
    list-style: none;
    margin-left: 20px;
}

.cart-product {
    margin-bottom: 15px;
}

.cart-product .cart-quantity-input {
    width: 25px;
}

/* why this does not work... ??? */
#hidden {
    display: none;
}

#products-carousel {
    width: 600px;
    height: 400px;
    outline: 6px solid red;
    margin: 100px auto;
    /* overflow: hidden; */
}

#main-image ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#main-image li {
    min-width: 600px;
    min-height: 400px;
}

#main-image .carousel-image {
    width: 100%;
    height: 400px;
    /* height: 100% is not ok???*/
    object-fit: cover;
}

/* it does not work properly, line 121 to 130*/
.nav-button {
    margin: 15px auto;
    text-align: center;
    height: 30px;
}

#nav-button button {
    color: red;
}

.products-container {
    width: 100%;
    height: auto;
}

.products {
    width: 100%;
    height: 100%;
}

.shop-product-img {
    width: 300px;
    height: 300px;
    
}




